body {
        background-color: aquamarine;
}
.container {
    width: 1000px;
    margin: 0 auto;
    border: 2px solid red;
    padding: 50px;
    background-color: cornsilk;
    text-align: center;
}
    .links {
    list-style: none;
    text-align: center;
    }
    .links li {
    margin-right: 20px;
    }
    .copy {
        text-align: center;
        color: bisque;
        font-size: 25px;
        background-color: burlywood;
    }
